*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ccc;
  width: 100vw;
}

main {
  margin: 0 auto;
  max-width: 1280px;
  background-color: white;
  padding: 5.5rem 5rem;
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
}

header p {
  text-transform: uppercase;
  color: #E1624F;
  font-weight: bold;
}

#introduction {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#introduction img {
  width: 100%;
  border-radius: 1.75rem;
  /* border-radius: var(--page-radius); */
}

#introduction p {
  font-size: 1rem;
  line-height: 22px;
  color: #333;
  font-style: italic;
  text-align: center;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: #d9d9d9;
}